.card {
    height: 100%;
}

.card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .ratin-with-comments-link {
        display: flex;

        a {
            padding-top: 2px;
        }

        fieldset {
            padding-top: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}

.card-comments {
    .card-body {
        margin: 1em 1em;
        padding: 0;

    }
}