@import '../../styles/Utils/Colors.scss';

.myButton {
    background-color: $input-colors !important;
    border: none !important;
    height: 40px;
    outline: 0px solid red !important;
}

.myButton:hover {
    background-color: $gray !important;
}

.myButton:active {
    background-color: $gray !important;
}