.userButton {
    height: 100%;
    border-color: rgba(0, 50, 50, 0) !important;
    background-color: rgba(0, 50, 50, 0) !important;
    box-shadow: none !important;
}

.dropdown {
    height: 100%;

    img {
        height: 100%;
    }
}