.map-user-coord{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-user-coord > div{
    width: 100%;
    height: 100%;
}


.map{
    width: 100%;
    height: 100%;
    &-marker-button{
        width: 20px;
        height: 20px;

        &-img{
            width: 100%;
            height: 100%;
            background-image: url('../../styles/img/mapImage.png');
            background-size: cover;;
        }
    }
}

.gm-style-mtc{
    display: none;
}

.gm-svpc{
    display: none;
}