@import '../../styles/Utils/Colors.scss';

.header {
    height: 3.75em;
    width: 100vw;

    background-color: #8DD7CF;

    &-content {
        padding: 2px 2em;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: flex-end;
        align-items: center;

    }
}