
%container {
  width: 100%;
  height: 16em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-image {
  @extend %container;
  height: 12em;
}

.container-carousel {
    @extend %container;
    height: 16em;
}

.image-block {
  max-width: 19em;
  max-height: 100%;
}

.carousel {
  width: 100%;
  max-width: 22em;
  height: 16em;

  &-inner {
    height: 100%;
    .carousel-item {
      height: 100%;
      img {
        background-size: cover;
        height: 100%;
        width: 100%;
        max-width: 22em;
      }
    }
  }
}
