.comments__textfield {
    width: 100%;
}

.comments-container {
    font-family: 'Merienda One';
    height: 100%;
    padding: 0;
    max-width: 33vw;

    .MuiList-padding {
        padding: 0 !important;
        overflow-x: auto;
    }

    .rating-container {
        .rating {
            p:first-child {
                font-size: 16px;
                font-weight: 600;
            }

            &__rating-rewiew {
                margin: 1em 0;

                &__rating {
                    border-left: 1px solid rgb(121, 115, 115);
                    margin: 0 0.5em;
                }

                &__rating-rewiews-count {
                    margin: 0 0.5em;
                }
            }
        }
    }

    .comments {
        height: 60vh;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__input {
            .comments__textfield {
                padding: 0 0.5em !important;
                width: 100%;
            }
        }

        .MuiBox-root {
            margin: 0;
        }
    }
}