@import '../../styles/Utils/Colors.scss';

.MuiInputBase-root {
    fieldset {
        border-color: $input-colors !important;
        border-radius: 0;
        border: 1px solid $input-colors !important;
    }
}

.MuiAutocomplete-root {
    width: 100% !important;
    max-width: 500px;
}

.MuiFormControl-root {
    height: 100%;
    display: flex;

    .MuiInputBase-root {
        height: 100%;

        input {
            padding-top: 4px !important;
        }
    }
}