.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    .loader{
        position: absolute;
        width: 75px;
        height: 75px;
        border: 10px solid gray;
        border-radius: 50%;
        border-top-color: rgb(72, 146, 118);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        animation: 2s spin infinite linear;
    }

}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}