.preloader-map{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    
    .loader{
        width: 75px;
        height: 75px;
        border: 10px solid gray;
        border-radius: 50%;
        border-top-color: rgb(72, 146, 118);
        animation: 2s spin infinite linear;
    }

}
@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}