@import '../Utils/Colors.scss';
@import '../Utils/Media.scss';

.content-container {
    margin: 0 2em;
}

.main-page {
    // font-family: 'Merienda One';


    .choose-city-block {
        display: grid;
        width: 100%;
        gap: 5em;
        overflow: hidden;
        margin-bottom: 1em;
        grid-template-columns: 4fr 1fr;

        &__search-block {
            width: 40px;
            margin-top: 2px;
            height: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $input-colors;
            overflow: hidden;

            @include respond(medium) {
                margin-top: 1px;
                height: 39px;
            }

            @include respond(small) {
                margin-top: 0;
                height: 40px;
            }


        }

        .choose-city-block__search-icon {
            fill: $gray;
        }

    }

    &-map {
        padding: 0;
        height: 70vh;
        background-color: rgba(80, 79, 78, 0.568);
    }
}